<h1>Productos en el Carrito</h1>
<ul>
  {{#each carts}}
    {{#if this.product}}
      <li>
        <strong>ID del Producto:</strong> {{this.product._id}} <br>
        <strong>Cantidad:</strong> {{this.quantity}} <br>
      </li>
    {{/if}}
  {{/each}}
</ul>
