<form action="/api/session/login" method="post">
    <h2>ingresa tu usuario</h2>
    <label for="email">gmail:</label>
    <input type="email" name="email" required>
    <label for="password">contraseña</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
    <p>si no tenes cuenta <a href="/register">registrate aca!</a></p>
</form>
