<h2>Profile</h2>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<form action="/api/session/logout" method="post">
    <button type="submit">Logout</button>
</form>
