<form action="/api/session/register" method="post">
    <h2>Bienvenido! Registrese</h2>
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" required>
    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" required>
    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" required>
    <label for="age">Edad:</label>
    <input type="number" name="age" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Register</button>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</form>
